################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/starman/.vs/starman/v16
/starman/Debug
/starman/starman/Debug
*.user
/.VSCodeCounter
/starman/UnitTest/Debug
/.vscode/c_cpp_properties.json
/starman/starman/Release
/starman/starman/Release
/starman/Release
/starman/Launcher/Debug
/starman/UnitTest/Release/UnitTest.tlog
/starman/UnitTest/Release
