################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/starman/.vs/starman/v16
/starman/Debug
/starman/starman/Debug
*.user
/.VSCodeCounter
/starman/UnitTest/Debug
/.vscode/c_cpp_properties.json
/starman/starman/Release
/starman/starman/Release
/starman/Release
/starman/Launcher/Debug
/starman/UnitTest/Release/UnitTest.tlog
/starman/UnitTest/Release
/starman/Launcher/Release
.savedata
/starman/packages/Microsoft.DXSDK.D3DX.9.29.952.8
*.csv#
/starman/starman/x64/Debug
/starman/x64/Debug
prolitan2.x
prolitan2.blend1
prolitan2.blend
/starman/.vs/starman
/starman/Deploy
/starman/starman/Deploy
/starman/UnitTest/Deploy
/starman/starman/error.log
/starman/starman/res/script/origin.enc
/starman/starman/res/script/save.bak
/starman/Installer/bin/Debug
/starman/Installer/obj/Debug
/starman/Installer/obj/Release
/starman/Installer/bin/Release
/starman/UnitTest2/Debug
/starman/starman/res/script/save
/starman/UnitTest2/Output/Release/d3dx9_43.dll
/starman/UnitTest2/Output/Release/d3dx11_43.dll
/starman/UnitTest2/Output/Release/d3dx10_43.dll
/starman/UnitTest2/Output/Release/D3DCompiler_43.dll
/starman/UnitTest2/Output/Release/UnitTest2.pdb
/starman/UnitTest2/Output/Release/UnitTest2.lib
/starman/UnitTest2/Output/Release/UnitTest2.exp
/starman/UnitTest2/Output/Release/UnitTest2.dll
/starman/UnitTest2/Release/UnitTest2.tlog
/starman/UnitTest2/Release
/starman/UnitTest2/Output/Debug/UnitTest2.pdb
/starman/UnitTest2/Output/Debug/UnitTest2.lib
/starman/UnitTest2/Output/Debug/UnitTest2.exp
/starman/UnitTest2/Output/Debug/UnitTest2.dll
/starman/UnitTest2/Output/Debug/d3dx9d_43.dll
/starman/UnitTest2/Output/Debug/d3dx11d_43.dll
/starman/UnitTest2/Output/Debug/d3dx10d_43.dll
/starman/UnitTest2/Output/Debug/D3DCompiler_43.dll
/starman/UnitTest2/Deploy/UnitTest2.tlog
/starman/UnitTest2/Deploy
/starman/UnitTest2/Output/Deploy/UnitTest2.pdb
/starman/UnitTest2/Output/Deploy/UnitTest2.lib
/starman/UnitTest2/Output/Deploy/UnitTest2.exp
/starman/UnitTest2/Output/Deploy/UnitTest2.dll
/starman/UnitTest2/Output/Deploy/d3dx9_43.dll
/starman/UnitTest2/Output/Deploy/d3dx11_43.dll
/starman/UnitTest2/Output/Deploy/d3dx10_43.dll
/starman/UnitTest2/Output/Deploy/D3DCompiler_43.dll
/starman/DeployEncrypt
/starman/starman/DeployEncrypt
/starman/starman/x64/Release
/starman/starman/x64/DeployEncrypt
/starman/starman/x64/Deploy
/starman/UnitTest2/Output/DeployEncrypt
/starman/UnitTest2/DeployEncrypt
/starman/UnitTest2/x64/Release
/starman/UnitTest2/x64/Deploy
/starman/x64/Release
/starman/UnitTest2/Output/x64/Debug/UnitTest2.pdb
/starman/UnitTest2/Output/x64/Debug/UnitTest2.lib
/starman/UnitTest2/Output/x64/Debug/UnitTest2.exp
/starman/UnitTest2/Output/x64/Debug/UnitTest2.dll
/starman/UnitTest2/Output/x64/Debug/d3dx9d_43.dll
/starman/UnitTest2/Output/x64/Debug/d3dx11d_43.dll
/starman/UnitTest2/Output/x64/Debug/d3dx10d_43.dll
/starman/UnitTest2/Output/x64/Debug/D3DCompiler_43.dll
/starman/UnitTest2/x64/Debug/UnitTest2.tlog
/starman/UnitTest2/x64/Debug
/starman/UnitTest2/Output/x64/Release/UnitTest2.pdb
/starman/UnitTest2/Output/x64/Release/UnitTest2.lib
/starman/UnitTest2/Output/x64/Release/UnitTest2.exp
/starman/UnitTest2/Output/x64/Release/UnitTest2.dll
/starman/UnitTest2/Output/x64/Release/d3dx9_43.dll
/starman/UnitTest2/Output/x64/Release/d3dx11_43.dll
/starman/UnitTest2/Output/x64/Release/d3dx10_43.dll
/starman/UnitTest2/Output/x64/Release/D3DCompiler_43.dll
/starman/x64/Deploy/starman.pdb
/starman/x64/Deploy/starman.exe
/starman/x64/Deploy/mesh_shader_no_shade.cso
/starman/x64/Deploy/mesh_shader_cull_none.cso
/starman/x64/Deploy/mesh_shader.cso
/starman/x64/Deploy/d3dx9_43.dll
/starman/x64/Deploy/d3dx11_43.dll
/starman/x64/Deploy/d3dx10_43.dll
/starman/x64/Deploy/D3DCompiler_43.dll
/starman/x64/Deploy/animation_mesh_shader.cso
/starman/UnitTest2/Output/x64/Deploy/UnitTest2.pdb
/starman/UnitTest2/Output/x64/Deploy/UnitTest2.lib
/starman/UnitTest2/Output/x64/Deploy/UnitTest2.exp
/starman/UnitTest2/Output/x64/Deploy/UnitTest2.dll
/starman/UnitTest2/Output/x64/Deploy/d3dx9_43.dll
/starman/UnitTest2/Output/x64/Deploy/d3dx11_43.dll
/starman/UnitTest2/Output/x64/Deploy/d3dx10_43.dll
/starman/UnitTest2/Output/x64/Deploy/D3DCompiler_43.dll
/starman/UnitTest2/Output/x64/Deploy/storehouseListSave.csv
*.ods#
