[submodule "menulib"]
	path = menulib
url=https://github.com/bibindon/menulib.git
[submodule "StoryTelling"]
	path = StoryTelling
	url = https://github.com/bibindon/StoryTelling.git
[submodule "talklib2"]
	path = talklib2
	url = https://github.com/bibindon/talklib2.git
[submodule "quest-system"]
	path = quest-system
	url = https://github.com/bibindon/quest-system.git
[submodule "StarmanLib"]
	path = StarmanLib
	url = https://github.com/bibindon/StarmanLib.git
[submodule "craftlib"]
	path = craftlib
	url = https://github.com/bibindon/craftlib.git
[submodule "storehouselib"]
	path = storehouselib
	url = https://github.com/bibindon/storehouselib.git
